.AnswerItem {
  border: 2px solid #000;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.AnswerItem:hover {
  background: #04fcfcb7;
  transition: background 0.3s ease-in-out;
}

.AnswerItem.success {
  background: rgba(148, 243, 38, 0.938);
}

.AnswerItem.error {
  background: rgba(226, 95, 139, 0.7);
  transition: background 0.3s ease-in-out;
}

@media (max-width: 575px) {
  .AnswerItem {
    padding: 2px 10px;
  }
}
