.ActiveQuiz {
  padding: 20px;
  color: #000;
  margin: 0 10px;
  box-sizing: border-box;
  font-weight: bold;
}

.Question {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .ActiveQuiz {
    padding: 0;
  }
  .results {
    width: 45px;
    text-align: right;
  }
}
